@import "settings";


html,body{

    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-size: 14px;
    font-family:'MuseoSans-Normal'
}
 b{
     font-family: 'MuseoSans-Bold';
 }
header
{
    position: relative;
    background: no-repeat center/cover;
    min-height: 100vh;

    &>.wr{
        @extend %wr;
        display: flex;
        min-height: inherit;
        flex-wrap: wrap;
        
        nav{
            flex-basis: 100%;
            text-align: right;
            padding-top: 24px;
            a{
                display: inline-block;
                margin-right: 30px;
                color: white;
                font-size: 16px;
                font-family:'MuseoSans-Bold';
                text-decoration:none;
                &:hover,&.active
                {
                    color: black
                }
            }
        }
        &>.content
        {
            max-width: 960px;
            margin: 0 auto;
            color:  white;
            text-align:center ;
            
            h1{
                text-transform: uppercase;
                font-size: 36px;
                color:#edecec;
                font-size: 37px;
                opacity: .5;
                font-family:'MuseoSans-Light';
            }
            h2 {
                font-size: 30px;
            }
            &>.descr
            {
                font-size: 16px;
            }
            &>.btn{
                display: inline-block;
            background: black;
            padding: 9px 50px;
            border-radius: 30px;
                color: white;
                text-decoration: none;
                font-size: 16px;
                margin-top: 75px;
                &:hover
                {
                    background-color: lighten($color: black, $amount: 5%);
                }
            }
        }
    }
    
}

#inquire
{
    background: $gray_dark;
    padding: 40px 0;

    &>.wr{
        @extend %wr;
        display: flex;
        justify-content: space-around;
        align-items: center;    
        color: $gray_light;

        &>.btn{
            display: inline-block;
            border-radius: 30px;
            background:$red;
            padding: 7px 50px;
            text-decoration: none;
            color: white;

            &:hover{
                background-color: lighten($color: $red, $amount: 5%);
            }
        }
    }
}
#platform
{
    position: relative;
    padding: 100px 0;

    &>.wr{
        @extend %wr;
        
        &>h2
        {
            text-transform: uppercase;
            font-size: 30px;
            margin-bottom: 10;
            text-align: center;
        }
        
        &>h3
        {
            text-align: center;
            margin-top: 0;
        }

    &>.items
        {
            margin-top: 65px;
            &>.row
            {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 50px;

                &:nth-child(even)
                {
                    flex-direction: row-reverse;
                }
                &>.col
                {
                    
                    flex: 1 1 0;
                
                    padding: 0 30px;
                   img{
                       max-width: 100%;
                    }
                    h4{
                        font-size: 15px;
                    }
                    .text
                    {
                        font-size: 12px;
                        line-height: 1.7;
                    }

                }
            }
           
        }
    }
}

#product
{
    position: relative;
    padding: 100px 0;
    background: linear-gradient(to right,#e4474e,#6f3235);

    &>.wr{
        @extend %wr;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &>.col{

            &.col-1
            {
                flex-basis: 65%;
                margin-right: 30px;
                &>.row-1
                {
                    h2{
                        font-size: 30px;
                        margin-bottom: 5px;
                    }
                    &>.content{
                        font-style: italic;
                    }
                }
                &>.row-2
                {
                    margin-top: 65px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &>.col-1
                    {
                        color:$gray_dark;
                        font-size: 18px;
                        font-family: 'MuseoSans-Bold';
                        
                    }
                    &>.col-2
                    {
                        flex:1 1 0;
                        position: relative;
                        height: 1px;
                        background: $gray_light;

                        span{
                            display: flex;
                            height: 36px;
                            width: 36px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            background: $red;
                            position: absolute;
                            right: 0;
                            top:-18px;
                            cursor: pointer;
                            &:before
                            {
                                content:'+';
                                display: block;
                                font-size: 16px;
                                color: white;
                                font-family: 'MuseoSans-Bold';
                            }
                            &:hover{
                                background: lighten($color: $red, $amount: 5%);
                            }
                        }
                    }
                    
                }
                &>.row-3
                {
                    margin-top: 15px;
                    max-width: 335px;
                    font-size: 14px;
                    line-height: 1.7;
                }
            }
            &.col-2
            {
                flex:1;

                &>.square
                {
                    padding-top: 100%;
                    position: relative;

                    &>.cont{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border: 3px dashed rgba(white, 0.37);
                        border-radius: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        

                        &:hover{
                            border-color: $gray_light;
                        }

                        &>.text{
                            font-size: 12px;
                            font-family:'MuseoSans-Bold';
                            text-align: center;
                        }

                    }
                }
            }
           
        }
    }
}
#team
{
    position: relative;
    padding: 100px 0;

    &>.wr{
        @extend %wr;

        &>.for-title
        {
            text-align: center;
            h2
        {
            text-transform: uppercase;
            font-size: 30px;
            color: $gray_dark;
            font-family:'MuseoSans-Light';
        }
        &>.descr{
            max-width: 940px;
            margin: 0 auto;
            line-height: 1.7;
            
        }
        }
        &>.team-list
        {
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            flex-wrap: wrap;

            &>.col{
                flex:1;
                margin: 0 20px;
                color: $gray_dark;
                text-align: center;

                &>.for-photo
                {
                    position: relative;
                    width: 150px;
                    height: 150px;
                    padding: 20px;
                    margin: 0 auto;
                    &>.bd
                    {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: url("../img/avatar-wr.jpg") no-repeat center /contain;
                    }
                    &>.photo
                    {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background: no-repeat center/cover;
                    }
                }
                &>.nick
                {
                    margin-top: 35px;
                    text-align: center;
                    font-size: 24px;
                    color:$gray_dark
                }
                &>.spec
                {
                    font-size: 24px;
                    margin-top: 10px;

                }
                &>.info
                {
                    font-size: 13px;
                    line-height: 1.7;
                    margin-top: 25px;
                    max-width: 430px;
                    margin: 25px auto 0 auto;
                }
                
            }
        }
        
    }
}

footer
{
    padding: 100px 0;
    background: $gray_dark;

    &>.wr{
        @extend %wr;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        
        &>.col{
            min-height: 100px;
            border-right: 1px solid #727272;
            padding: 0 35px;

            &:nth-child(1){
                padding-left: 0;
                flex:1
            }
            &:nth-child(3){
                padding-right: 0;
                border-right: 0;
                flex:2;
            }
            &:nth-child(2){
                flex:1
            }
            h3{
                color:#727272 ;
                text-transform: uppercase;
                font-family:'MuseoSans-Bold';
            }

            input[type='text']
            {
                outline: none;
                background-color: #323232;
                border-radius: 5px;
                border: none;
                box-shadow: inset 4.2px -2.7px 5px rgba(0,1,1,0.2);
                padding: 10px 15px;
                min-width: 320px;
                box-sizing: border-box;
            }

            &.col-3
            {
               
                &>.row{
                    display:flex;
                    justify-content: space-between;

                    &>.col{
                        padding-right: 35px;
                        a{
                            color: #9d484c;
                            &:hover{
                                color:red
                            }
                        }
                    }
                }
                &>.copy
                {
                    margin-top: 50px;
                }
            }

        }
    }
}
